{% extends "admin/base_site.html" %}
{% load i18n cms_tags %}

{% block content %}
	<h1>Your Quote <strong style="color:red">({% if dev %}Testing Mode{% else %}LIVE MODE{% endif %})</strong></h1>

	<form action="" method="post" {% if not dev %} onsubmit="return confirm('Do you really want to submit the request? This will cost you money!!');"{% endif %}>
	    {% csrf_token %}
		{% for opt in res.Options %}
			<h2>{{ opt.Name }}</h2>
			<p>{{ opt.ShortDescription }}</p>
			{{ opt.Description }}
			<table>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Delivery Date</th>
					<th>Price</th>
				</tr>
			{% for d_opt in opt.DeliveryOptions %}
				<tr>
					<td><input type="radio" name="opt" value="{{ opt.OrderTypeId}}_{{ d_opt.DeliveryId }}"></td>
					<td>{{ d_opt.Name }}</td>
					{% comment %} <td>{{ d_opt.DeliveryDate|date:"D d M Y" }} {{ d_opt.DeliveryDate|time:"H:i" }}</td> {% endcomment %}
					<td>{{ d_opt.DeliveryDate }}</td>
					<td>{{ res.Currency }} {{ d_opt.Price }}</td>
				</tr>
			{% endfor %}
			</table>

		{% endfor %}

		<input type="submit" value="order" />
	</form>
{% endblock %}