{% extends "admin/base_site.html" %}
{% load i18n cms_tags standard_form %}

{% block content %}
	<h1>Please select the plugins which should be translated</h1>
	<form action="" method="post" class="frm">
	    {% csrf_token %}
			<table>
				<tr>
					<td></td>
					<td>Name</td>
					<td>Anzahl</td>
				</tr>
		    {% for plugin, count in plugins.items %}
				<tr>
	                <td><input type="checkbox" name="obj" value="{{ plugin }}" checked /></td>
					<td>{{ plugin }}</td>
					<td>{{ count }}x</td>
				</tr>
		    {% endfor %}
			<tr>
				<td><input type="submit" /></td>
			</tr>
			</table>
	</form>

	<form method="post" action="">
	    {{ formset.management_form }}
	    {% for form in formset %}
	        {% for field in form %}
	            {{ field.label_tag }} {{ field }}
	        {% endfor %}
	    {% endfor %}
	</form>
{% endblock content %}